a {
  color: red;
  background: url("../a999bdfa2088b4e95c213a07b79cc353.jpg");
}

a {
  color: red;
  background: url("../917cf8a0ae274ed25f07ad296acb10c8.jpg");
}

a {
  background: url("../173ad31e7143beba48c678b38c686cfa.jpg#abc");
}